In [1]:
#*******************************************************************************************
 #
 #  File Name:  PyAviationAccidentsTransformSecond.ipynb
 #
 #  File Description:
 #      This interactive Python notebook, PyAviationAccidentsTransformSecond.ipynb, 
 #      uses Pandas as well as other methods to transform the information for use.
 #
 #
 #  Date            Description                             Programmer
 #  ----------      ------------------------------------    ------------------
 #  10/18/2023      Initial Development                     N. James George
 #
 #******************************************************************************************/

import PyFunctions as function
import PyLogFunctions as log_function
import PyLogSubRoutines as log_subroutine
import PySubRoutines as subroutine

import PyAviationAccidentsConstants as local_constant
import PyAviationAccidentsFunctions as local_function

from datetime import datetime as dt

import pandas as pd

In [2]:
CONSTANT_LOCAL_FILE_NAME \
    = 'PyAviationAccidentsTransformSecond.ipynb'

In [3]:
log_subroutine \
    .SetLogMode \
        (False)

log_subroutine \
    .SetDebugMode \
        (False)

log_subroutine \
    .SetImageMode \
        (False)


log_subroutine \
    .BeginProgramExecution \
        ('PyAviationAccidentsTransformSecond')

# <br> **Section 1: Data Preparation**

## **1.1: Read CSV Files**

### **Aviation Accidents**

In [4]:
cleanAccidentsDataFrame \
    = function. \
        ReturnCSVFileAsDataFrame \
            (local_constant \
                 .AVIATION_UPDATED_ACCIDENTS_DATA_CSV_FILE)

cleanAccidentsDataFrame \
    = cleanAccidentsDataFrame \
        .drop \
            (cleanAccidentsDataFrame.columns[0], 
             axis = 1)


log_function \
    .DebugReturnObjectWriteObject \
        (cleanAccidentsDataFrame)

### **Aviation Accident Narratives**

In [5]:
narrativesDataFrame \
    = function. \
        ReturnCSVFileAsDataFrame \
            (local_constant \
                 .AVIATION_UPDATED_ACCIDENTS_NARRATIVE_CSV_FILE)

narrativesDataFrame \
    = narrativesDataFrame \
        .drop \
            (narrativesDataFrame.columns[0], 
             axis = 1)


log_function \
    .DebugReturnObjectWriteObject \
        (narrativesDataFrame)

### **Departure Airports**

In [6]:
departureAirportsDataFrame \
    = function. \
        ReturnCSVFileAsDataFrame \
            (local_constant \
                 .AVIATION_DEPARTURE_AIRPORTS_CSV_FILE)

departureAirportsDataFrame \
    = departureAirportsDataFrame \
        .drop \
            (departureAirportsDataFrame.columns[0], 
             axis = 1)


log_function \
    .DebugReturnObjectWriteObject \
        (departureAirportsDataFrame)

### **Destination Airports**

In [7]:
destinationAirportsDataFrame \
    = function. \
        ReturnCSVFileAsDataFrame \
            (local_constant \
                 .AVIATION_DESTINATION_AIRPORTS_CSV_FILE)

destinationAirportsDataFrame \
    = destinationAirportsDataFrame \
        .drop \
            (destinationAirportsDataFrame.columns[0], 
             axis = 1)


log_function \
    .DebugReturnObjectWriteObject \
        (destinationAirportsDataFrame)

### **Aviation Accident Locations**

In [8]:
accidentLocationsDataFrame \
    = function. \
        ReturnCSVFileAsDataFrame \
            (local_constant \
                 .AVIATION_ACCIDENT_LOCATIONS_CSV_FILE)

accidentLocationsDataFrame \
    = accidentLocationsDataFrame \
        .drop \
            (accidentLocationsDataFrame.columns[0], 
             axis = 1)


log_function \
    .DebugReturnObjectWriteObject \
        (accidentLocationsDataFrame)

## **1.2: Display DataFrames**

### **Aviation Accidents**

In [9]:
captionString \
    = 'Table 1.2.1: Updated Aviation Accidents (1970-2022)'

currentStylerObject \
    = function \
        .ReturnStylerObjectStandardFormat \
            (cleanAccidentsDataFrame.head(12), 
             captionString)

log_function \
    .ReturnStylerObjectSavePNGImage \
        (currentStylerObject,
         captionString)

### **Aviation Accident Narratives**

In [10]:
captionString \
    = 'Table 1.2.2: Aviation Accident Narratives (1970-2022)'

currentStylerObject \
    = function \
        .ReturnStylerObjectStandardFormat \
            (narrativesDataFrame.head(5), 
             captionString)

log_function \
    .ReturnStylerObjectSavePNGImage \
        (currentStylerObject,
         captionString)

### **Departure Airports**

In [11]:
captionString \
    = 'Table 1.2.3: Departure Airports for each Accident (1970-2022)'

currentStylerObject \
    = function \
        .ReturnStylerObjectStandardFormat \
            (departureAirportsDataFrame.head(12), 
             captionString)

log_function \
    .ReturnStylerObjectSavePNGImage \
        (currentStylerObject,
         captionString)

### **Destination Airports**

In [12]:
captionString \
    = 'Table 1.2.4: Destination Airports for each Accident (1972-2022)'

currentStylerObject \
    = function \
        .ReturnStylerObjectStandardFormat \
            (destinationAirportsDataFrame.head(12), 
             captionString)

log_function \
    .ReturnStylerObjectSavePNGImage \
        (currentStylerObject,
         captionString)

### **Aviation Accident Locations**

In [13]:
captionString \
    = 'Table 1.2.5: Aviation Accident Locations (1972-2022)'

currentStylerObject \
    = function \
        .ReturnStylerObjectStandardFormat \
            (accidentLocationsDataFrame.head(12), 
             captionString)

log_function \
    .ReturnStylerObjectSavePNGImage \
        (currentStylerObject,
         captionString)

# <br> **Section 2: Create DataFrames for Database Tables**

## **2.1: Aviation Accidents**

### **Extract Clean Aviation Accidents Data**

In [14]:
finalAccidentsDataFrame \
    = cleanAccidentsDataFrame \
            [['accident_id',
              'acc_date',
              'type', 
              'operator', 
              'total_fatalities',
              'total_occupants',
              'aircraft_damage',
              'phase',
              'nature',
              'location']] \
        .copy()


log_function \
    .DebugReturnObjectWriteObject \
        (finalAccidentsDataFrame)

### **Extract Departure Airport Names**

In [15]:
finalAccidentsDataFrame \
    ['departure'] \
        = departureAirportsDataFrame \
            ['name'] \
                .copy()


log_function \
    .DebugReturnObjectWriteObject \
        (finalAccidentsDataFrame)

### **Extract Destination Airport Names**

In [16]:
finalAccidentsDataFrame \
    ['destination'] \
        = destinationAirportsDataFrame \
            ['name'] \
                .copy()


log_function \
    .DebugReturnObjectWriteObject \
        (finalAccidentsDataFrame)

### **Extract Accident Location Information**

In [17]:
finalAccidentsDataFrame \
    [['place',
      'state',
      'country',
      'country_code',
      'lat', 
      'lon']] \
        = accidentLocationsDataFrame \
            [['name',
              'state',
              'country',
              'country_code',
              'lat',
              'lon']]

log_function \
    .DebugReturnObjectWriteObject \
        (finalAccidentsDataFrame)

### **Extract Accident Narrative Information**

In [18]:
finalAccidentsDataFrame \
    ['narrative'] \
        = narrativesDataFrame \
            ['narrative']


log_function \
    .DebugReturnObjectWriteObject \
        (finalAccidentsDataFrame)

### **Extract Year From Date Column**

In [19]:
finalAccidentsDataFrame \
    ['acc_date'] \
        = pd.to_datetime \
            (finalAccidentsDataFrame \
                 ['acc_date'], 
             format = '%Y-%m-%d')

finalAccidentsDataFrame \
    ['year'] \
        = finalAccidentsDataFrame \
            ['acc_date'] \
                .dt.year


finalAccidentsDataFrame \
    ['acc_date'] \
        = finalAccidentsDataFrame \
            ['acc_date'] \
                .astype(str)

finalAccidentsDataFrame \
    ['year'] \
        = finalAccidentsDataFrame \
            ['year'] \
                .astype(str)


log_function \
    .DebugReturnObjectWriteObject \
        (finalAccidentsDataFrame)

### **Rename DataFrame Columns**

In [20]:
finalAccidentsDataFrame \
    = finalAccidentsDataFrame \
        .rename \
            ({'acc_date': 'date', 
              'total_fatalities': 'fatalities', 
              'total_occupants': 'occupants',
              'aircraft_damage': 'damage'}, 
             axis = 1)


log_function \
    .DebugReturnObjectWriteObject \
        (finalAccidentsDataFrame)

### **Reorder DataFrame Columns**

In [21]:
finalAccidentsDataFrame \
    = finalAccidentsDataFrame \
        [['accident_id',
          'date',
          'year',
          'type',
          'operator',
          'fatalities',
          'occupants',
          'damage',
          'phase',
          'nature',
          'departure',
          'destination',
          'location',
          'place',
          'state',
          'country',
          'country_code',
          'lat',
          'lon',
          'narrative']]
 
finalAccidentsDataFrame \
    = finalAccidentsDataFrame \
        .reset_index \
            (drop = True)


log_function \
    .DebugReturnObjectWriteObject \
        (finalAccidentsDataFrame)

## **2.2: Country**

In [22]:
countryDataFrame \
    = local_function \
        .ReturnCountryDataFrame()


log_function \
    .DebugReturnObjectWriteObject \
        (countryDataFrame)

In [23]:
# This function call double checks that the country names 
# are standardized.
finalAccidentsDataFrame \
    = local_function \
        .ReturnStandardizedCountryNames \
            (finalAccidentsDataFrame,
             countryDataFrame,
             'country_code',
             'country')


log_function \
    .DebugReturnObjectWriteObject \
        (finalAccidentsDataFrame)

## **2.3: Aircraft Types**

In [24]:
tempList \
    = finalAccidentsDataFrame \
            ['type'] \
        .unique() \
        .tolist()

typesSortedStringList \
    = sorted \
        (tempList)

typesDataFrame \
    = pd.DataFrame \
        (typesSortedStringList, 
         columns = ['type']) 
    
    
log_function \
    .DebugReturnObjectWriteObject \
        (typesDataFrame)

## **2.4: Aircraft Operators**

In [25]:
tempList \
    = finalAccidentsDataFrame \
            ['operator'] \
        .unique() \
        .tolist()

operatorsSortedStringList \
    = sorted \
        (tempList)

operatorsDataFrame \
    = pd.DataFrame \
        (operatorsSortedStringList, 
         columns = ['operator']) 
    
    
log_function \
    .DebugReturnObjectWriteObject \
        (operatorsDataFrame)

## **2.5: Aircraft Damage**

In [26]:
tempList \
    = finalAccidentsDataFrame \
            ['damage'] \
        .unique() \
        .tolist()

damageSortedStringList \
    = sorted \
        (tempList)

damageDataFrame \
    = pd.DataFrame \
        (damageSortedStringList, 
         columns = ['damage']) 
    
    
log_function \
    .DebugReturnObjectWriteObject \
        (damageDataFrame)

## **2.6: Flight Phase**

In [27]:
tempList \
    = finalAccidentsDataFrame \
            ['phase'] \
        .unique() \
        .tolist()

phaseSortedStringList \
    = sorted \
        (tempList)

phaseDataFrame \
    = pd.DataFrame \
        (phaseSortedStringList, 
         columns = ['phase']) 
    
    
log_function \
    .DebugReturnObjectWriteObject \
        (phaseDataFrame)

## **2.7: Nature of Flight**

In [28]:
tempList \
    = finalAccidentsDataFrame \
            ['nature'] \
        .unique() \
        .tolist()

natureSortedStringList \
    = sorted \
        (tempList)

natureDataFrame \
    = pd.DataFrame \
        (natureSortedStringList, 
         columns = ['nature']) 
    
    
log_function \
    .DebugReturnObjectWriteObject \
        (natureDataFrame)

## **2.8: Airports**

In [29]:
airportsDataFrame \
    = None


airportsDataFrame \
    = pd.concat \
        ([departureAirportsDataFrame.copy(), 
          destinationAirportsDataFrame.copy()],
         axis = 0)

airportsDataFrame \
    .drop \
        (columns \
             = ['accident_id'],
         axis = 1,
         inplace = True)

airportsDataFrame \
    = airportsDataFrame \
        .drop_duplicates \
            (subset \
                 = ['name',
                    'country'])

airportsDataFrame \
    .reset_index \
        (drop = True)


log_function \
    .DebugReturnObjectWriteObject \
        (airportsDataFrame)

## **2.9: Departure Airports**

In [30]:
updatedDepartureAirportsDataFrame \
    = departureAirportsDataFrame \
        .copy()

updatedDepartureAirportsDataFrame \
    [['date', 
      'year']] \
        = finalAccidentsDataFrame \
            [['date',
              'year']]

updatedDepartureAirportsDataFrame \
    = updatedDepartureAirportsDataFrame \
        [['accident_id',
          'date',
          'year',
          'icao',
          'iata',
          'name',
          'state',
          'country',
          'country_code',
          'lat',
          'lon']]


log_function \
    .DebugReturnObjectWriteObject \
        (updatedDepartureAirportsDataFrame)

## **2.10: Destination Airports**

In [31]:
updatedDestinationAirportsDataFrame \
    = destinationAirportsDataFrame \
        .copy()

updatedDestinationAirportsDataFrame \
    [['date', 
      'year']] \
        = finalAccidentsDataFrame \
            [['date',
              'year']]

updatedDestinationAirportsDataFrame \
    = updatedDestinationAirportsDataFrame \
        [['accident_id',
          'date',
          'year',
          'icao',
          'iata',
          'name',
          'state',
          'country',
          'country_code',
          'lat',
          'lon']]


log_function \
    .DebugReturnObjectWriteObject \
        (updatedDestinationAirportsDataFrame)

# <br> **Section 3: Display DataFrames for Database Tables**

## **3.1: Aviation Accidents**

In [32]:
captionString \
    = 'Table 3.1: Final Aviation Accidents DataFrame (1970-2022)'

currentStylerObject \
    = function \
        .ReturnStylerObjectStandardFormat \
            (finalAccidentsDataFrame.head(5), 
             captionString)

log_function \
    .ReturnStylerObjectSavePNGImage \
        (currentStylerObject,
         captionString)

## **3.2: Country**

In [33]:
captionString \
    = 'Table 3.2: Country DataFrame'

currentStylerObject \
    = function \
        .ReturnStylerObjectStandardFormat \
            (countryDataFrame.head(12), 
             captionString)

log_function \
    .ReturnStylerObjectSavePNGImage \
        (currentStylerObject,
         captionString)

## **3.3: Aircraft Types**

In [34]:
captionString \
    = 'Table 3.3: Aircraft Types DataFrame'

currentStylerObject \
    = function \
        .ReturnStylerObjectStandardFormat \
            (typesDataFrame.head(12), 
             captionString)

log_function \
    .ReturnStylerObjectSavePNGImage \
        (currentStylerObject,
         captionString)

## **3.4: Aircraft Operators**

In [35]:
captionString \
    = 'Table 3.4: Aircraft Operators DataFrame'

currentStylerObject \
    = function \
        .ReturnStylerObjectStandardFormat \
            (operatorsDataFrame.head(12), 
             captionString)

log_function \
    .ReturnStylerObjectSavePNGImage \
        (currentStylerObject,
         captionString)

## **3.5: Aircraft Damage**

In [36]:
captionString \
    = 'Table 3.5: Aircraft Damage DataFrame'

currentStylerObject \
    = function \
        .ReturnStylerObjectStandardFormat \
            (damageDataFrame.head(12), 
             captionString)

log_function \
    .ReturnStylerObjectSavePNGImage \
        (currentStylerObject,
         captionString)

## **3.6: Flight Phase**

In [37]:
captionString \
    = 'Table 3.6: Flight Phase DataFrame'

currentStylerObject \
    = function \
        .ReturnStylerObjectStandardFormat \
            (phaseDataFrame.head(12), 
             captionString)

log_function \
    .ReturnStylerObjectSavePNGImage \
        (currentStylerObject,
         captionString)

## **3.7: Nature of Flight**

In [38]:
captionString \
    = 'Table 3.7: Nature of Flight DataFrame'

currentStylerObject \
    = function \
        .ReturnStylerObjectStandardFormat \
            (natureDataFrame.head(12), 
             captionString)

log_function \
    .ReturnStylerObjectSavePNGImage \
        (currentStylerObject,
         captionString)

## **3.8: Airports**

In [39]:
captionString \
    = 'Table 3.8: Airports DataFrame'

currentStylerObject \
    = function \
        .ReturnStylerObjectStandardFormat \
            (airportsDataFrame.head(12), 
             captionString)

log_function \
    .ReturnStylerObjectSavePNGImage \
        (currentStylerObject,
         captionString)

## **3.9: Departure Airports**

In [40]:
captionString \
    = 'Table 3.9: Departure Airports DataFrame'

currentStylerObject \
    = function \
        .ReturnStylerObjectStandardFormat \
            (updatedDepartureAirportsDataFrame.head(12), 
             captionString)

log_function \
    .ReturnStylerObjectSavePNGImage \
        (currentStylerObject,
         captionString)

## **3.10: Destination Airports**

In [41]:
captionString \
    = 'Table 3.10: Destination Airports DataFrame'

currentStylerObject \
    = function \
        .ReturnStylerObjectStandardFormat \
            (updatedDestinationAirportsDataFrame.head(12), 
             captionString)

log_function \
    .ReturnStylerObjectSavePNGImage \
        (currentStylerObject,
         captionString)

# <br> **Section 4: Export DataFrames to CSV Files**

## **4.1: Aviation Accidents**

In [42]:
finalAccidentsDataFrame \
    .to_csv \
        (local_constant \
             .AVIATION_ACCIDENTS_DATABASE_TABLE_CSV_FILE)

## **4.2: Country**

In [43]:
countryDataFrame \
    .to_csv \
        (local_constant \
             .COUNTRY_DATABASE_TABLE_CSV_FILE)

## **4.3: Aircraft Types**

In [44]:
typesDataFrame \
    .to_csv \
        (local_constant \
             .AIRCRAFT_TYPES_DATABASE_TABLE_CSV_FILE)

## **4.4: Aircraft Operators**

In [45]:
operatorsDataFrame \
    .to_csv \
        (local_constant \
             .AIRCRAFT_OPERATORS_DATABASE_TABLE_CSV_FILE)

## **4.5: Aircraft Damage**

In [46]:
damageDataFrame \
    .to_csv \
        (local_constant \
             .AIRCRAFT_DAMAGE_DATABASE_TABLE_CSV_FILE)

## **4.6: Flight Phase**

In [47]:
phaseDataFrame \
    .to_csv \
        (local_constant \
             .FLIGHT_PHASE_DATABASE_TABLE_CSV_FILE)

## **4.7: Nature of Flight**

In [48]:
natureDataFrame \
    .to_csv \
        (local_constant \
             .NATURE_OF_FLIGHT_DATABASE_TABLE_CSV_FILE)

## **4.8: Airports**

In [49]:
airportsDataFrame \
    .to_csv \
        (local_constant \
             .AIRPORTS_DATABASE_TABLE_CSV_FILE)

## **4.9: Departure Airports**

In [50]:
updatedDepartureAirportsDataFrame \
    .to_csv \
        (local_constant \
             .DEPARTURE_AIRPORTS_DATABASE_TABLE_CSV_FILE)

## **4.10: Destination Airports**

In [51]:
updatedDestinationAirportsDataFrame \
    .to_csv \
        (local_constant \
             .DESTINATION_AIRPORTS_DATABASE_TABLE_CSV_FILE)

In [52]:
#log_subroutine \
#    .EndProgramExecution()